<!-- page title -->
	<section class="section section--first section--bg" data-bg="img/section/section.jpg">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">About Us</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="#">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">About Us</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- about -->
	<section class="section">
		<div class="container">
			<div class="row">
				<!-- section title -->
				<div class="col-12">
					<h2 class="section__title"><b>OTOKUMO</b> – Best Place for Musics</h2>
				</div>
				<!-- end section title -->

				<!-- section text -->
				<div class="col-12">
					<p class="section__text">
						SoundCloud is the world’s largest open audio platform, powered by a connected community of creators, listeners and curators on the pulse of what's new, now and next in culture. Founded in 2007, SoundCloud empowers the world’s audio creators with the best tools, services and resources to build and grow their careers. With over 190 million tracks from 20 million creators heard in 190 countries, what’s next in music is first on SoundCloud.

</br> </br>  <b>Be a creator</b>. Easily record and upload sounds to SoundCloud and share them privately or publicly to friends, blogs, sites and all your social networks. Comprehensive stats make evaluating your performance a piece of cake. Engage directly with your fans with comments and promote your work.

Learn more about how to optimize your creator experience here. 

</br> </br> <b>Be a listener</b>. Find new music to love. Follow creators on SoundCloud that you are interested in and watch your Stream grow with new audio everyday. Save your favorite tracks and playlists in your Likes and get surprised when our Related tracks recommendations help you discover even more. 

Learn more about how and where you can listen on SoundCloud here.

</br> </br> <b>Be a Curator</b>B. Gather your own following. Listen, save, and follow up-and-coming creators, build hit playlists and share your passion with your followers.
					</p>

					<p class="section__text section__text--last-with-margin">'Content here, content here', making it look like <a href="#">readable</a> English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</p>
				</div>
				<!-- end section text -->


			</div>
		</div>
	</section>
	<!-- end about -->


