

	<!-- home -->
	<section class="home" style="padding-bottom:20px">
		<!-- home bg -->
		<div class="owl-carousel home__bg">
			<div class="item home__cover" data-bg="img/home/home__bg.jpg"></div>
			<div class="item home__cover" data-bg="img/home/home__bg2.jpg"></div>
			<div class="item home__cover" data-bg="img/home/home__bg3.jpg"></div>
			<div class="item home__cover" data-bg="img/home/home__bg4.jpg"></div>
		</div>
		<!-- end home bg -->

		
	</section>
	<!-- end home -->

	<!-- content -->
	<section class="content">
		<div class="content__head">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<!-- content title -->
						<h2 class="content__title">New songs</h2>
						<!-- end content title -->

						
						<!-- end content mobile tabs nav -->
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<!-- content tabs -->
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
					<div class="row">
						<!-- card -->
							<% @songs.each do |song| %>
				    
							
								
						<div class="col-6 col-sm-12 col-lg-6">
							<div class="card card--list">
								<div class="row">
									<div class="col-12 col-sm-4">
										<div class="card__cover">
										<% if song.image.attached? %>
			                                   <%= image_tag song.image  %>
			                                 <% end %>
											<%= link_to song, :class => "card__play" do %>
			                                 	<i class="icon ion-ios-play"></i>
			                                 <% end %>
										</div>
									</div>

									<div class="col-12 col-sm-8">
										<div class="card__content">
											<h3 class="card__title"><a href="#"><%= song.title %></a></h3>
											<span class="card__category" style="color:white">
												Genre: 
												<% song.genres.each do |genre| %>
													<%= genre.name %>
												<% end %>
											</span>
										</div>
									</div>
								</div>
							</div>
						</div>								
								
								
								<!-- end card -->
							<% end %>

						
					</div>
				</div>
			</div>
			<!-- end content tabs -->
		</div>
	</section>
	<!-- end content -->


	

	