<section class="section" style="background:white;margin-top:50px">  
    <h1>Editing Comment</h1>
    
    <%= render 'form', comment: @comment %>
    
    <% url = "/songs/" + @comment.song_id.to_s %>
    <%= link_to 'Cancel', url %>
</section>