<section class="section" style="background:white;margin-top:50px">  
    <h1>Editing Comment</h1>
    
    <%= render 'form', comment: @comment %>
    
    <%= link_to 'Show', @comment %> |
    <%= link_to 'Back', songs_path %>
</section>