.err-father{
    width:100%;
    position:absolute;
}

#error_explanation{
    background:red;
    padding:10px;
    position:relative;
    top:100%;
    left:100%;
    color:white;
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border:none;
}

.cowhite{
    color:white;
}

.genre_link{
    display:flex;
    justify-content:center;
    align-items:center;
    min-width:100px;
    min-height:80px;
    text-decoration:none;
    padding:10px 5px 10px 5px;
    border:0.5px solid black;
    background-color:#FF5692;
    color:white;
    border-radius:10px;
}